<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars Dealership</a>
          </div>
  
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'djangoapp:add_review' %}">Add review</a>
              </li>
              {% endif %}
            </ul>
          </div>
          
          <div class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li>
                <a class="btn btn-link" href="">{{ user.first_name }}({{ user.username }})</a>
                <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
              </li>
              {% else %}
              <li>
                <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                  {% csrf_token %}
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Username" name="username" >
                      <input type="password" class="form-control" placeholder="Password" name="psw" >
                      <button class="btn btn-primary" type="submit">Login</button>
                      
                      <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>              
                    </div>
                  </form>
              </li>
              {% endif %}
            </ul>             
        </div>
      </nav>
    <!-- Add reviews as cards -->
    <main class="container">
        <h1>{{dealer.full_name}}</h1>
        <div class="card-columns">
            {% for review in reviews %}
                <div class="card">
                    <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-left">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                        <h5 class="card-title">{{ review.car_year }}</h5>
                        <p class="card-text">{{ review.review }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
    </body>

</html>